{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_items|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </thead>
                    {% for item in task_items.all %}
                        <tbody>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            {% if item.is_completed == True %}
                                <td>Done</td>
                            {% else %}
                                <td>
                                    <form method='POST' action="{% url 'complete_task' item.id %}">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button>Complete</button>
                                    </form>
                                </td>
                            {% endif %}
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
